################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MyListApp/.vs/MyListApp/v16
/.vs/Sem2_2021/v16
/.vs
/MyListApp.zip
