################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MyListApp/.vs/MyListApp/v16
/.vs/Sem2_2021/v16
/.vs
/MyListApp.zip
/MyList2/.vs/MyList2/v16
/MyList2/MyList2/bin/Debug
/MyList2/MyList2/obj
/MyListApp/MyListApp/obj/Debug
/MyListApp/MyListApp/bin/Debug
