################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MyListApp/.vs/MyListApp/v16
/.vs/Sem2_2021/v16
/.vs
/MyListApp.zip
/MyList2/.vs/MyList2/v16
/MyList2/MyList2/bin/Debug
/MyList2/MyList2/obj
/MyListApp/MyListApp/obj/Debug
/MyListApp/MyListApp/bin/Debug
/Project1/.vs/Project1/v16
/Project1/Debug
/Project1/Project1/Debug
/StackApp/.vs/StackApp/v16
/StackApp/StackApp/bin/Debug
/StackApp/StackApp/obj/Debug
/MyList/.vs/MyList/v16
/SortApp/.vs/SortApp/v16
/SortApp/Debug
/SortApp/SortApp/Debug
/TextFiles/.vs/TextFiles/v16
/TextFiles/Debug
/TextFiles/TextFiles/Debug
/DelegApp/DelegApp/bin/Debug/netcoreapp3.1
/DelegApp/DelegApp/obj
/DelegApp/.vs/DelegApp/v16
/ConsoleApp1
/LinqApp/.vs/LinqApp/v16
/LinqApp/LinqApp/bin/Debug/netcoreapp3.1
/LinqApp/LinqApp/obj
